[Unit]
Description=WTF just happened?

[Service]
Environment="CONFIG_FILE=/etc/monitoring/config.ini"
ExecStart=/opt/apps/dafuq/dafuq

[Install]
WantedBy=multi-user.target
