[config]
name = {{ .name }}
description = {{ .description }}
plugin = {{ .plugin }}.sh
argument = {{ .argument }}
option = {{ .option }}
interval = {{ .interval }}
timeoutSec = {{ .timeoutSec }}
warningThreshold = {{ .warningThreshold }}
criticalThreshold = {{ .criticalThreshold }}
flowOperator = {{ .flowOperator }}
{{ range .notify }}
notify = {{ . }}.sh
{{ end }}
{{ range .suppressedBy }}
suppressedBy = {{ . }}.sh
{{ end }}
{{ if .hostname }}
hostname = {{ .hostname }}
{{ end }}
