[Unit]
Description=Hledger web ui

[Service]
ExecStart=/usr/bin/hledger-web \
            --port 55000 \
            --host 127.0.0.1 \
            --base-url=https://bank.rcmd.space \
            --file=/home/ledger/ledger.book
User=ledger
WorkingDirectory=/home/ledger

[Install]
WantedBy=multi-user.target
