[Unit]
Description=Flush NAT at system start to help Podman's CNI
Before=containers.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables -t nat --flush

[Install]
WantedBy=multi-user.target
