## Managed by dustbag
## All manual changes will be overwritten

PermitRootLogin no

ClientAliveInterval 3600
ClientAliveCountMax 0

PermitEmptyPasswords no
PasswordAuthentication no

AllowUsers rcmd ledger git radicale

ChallengeResponseAuthentication no
Protocol 2
UsePAM yes
X11Forwarding no
PrintMotd no
AllowTCPForwarding yes

AcceptEnv LANG LC_*

Subsystem       sftp    /usr/lib/openssh/sftp-server
