[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/k3s.service.env
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service 2>/dev/null'
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s \
    server \
    --disable=traefik \
    --disable servicelb \
    --disable local-storage \
    --disable metrics-server \
    --flannel-backend=host-gw \
    --kube-proxy-arg=nodeport-addresses=127.0.0.1/32,10.200.1.0/24 \
    --kube-apiserver-arg=service-node-port-range=100-65535 \
    --kube-apiserver-arg=max-requests-inflight=50 \
    --kube-controller-manager-arg=node-monitor-period=60s \
    --kube-controller-manager-arg=node-monitor-grace-period=180s
