# Managed by https://git.rcmd.space/rcmd/dustbag
[Unit]
Description=Home NAS on RPi4
Before=nginx.service
Before=docker-registry.service
Before=k3s.service
After=wg-quick@wg0.service
Wants=network-online.target

[Mount]
What=10.200.200.5:/mnt/pool
Where=/var/storage/wastebox
Options=_netdev,auto
Type=nfs
TimeoutSec=60

[Install]
WantedBy=multi-user.target
